a* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  max-width: 500px;
  width: 90%;
  height: 90vh;
  overflow-y: auto;
}

.chat-box h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #ffffff;
  padding: 20px;
  border-radius: 30px 30px 0 0;
  background-color: #3581b8;
}

.message-container {
  flex: 1;
  margin: 0 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.message-sender {
  font-size: 1.5rem;
  font-weight: 500;
  color: #3581b8;
}

.message-timestamp {
  font-size: 1rem;
  font-weight: 400;
  color: #999999;
}

.message-content {
  font-size: 1.5rem;
  font-weight: 400;
  color: #333333;
}

.form-container {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

#name-input {
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 30px;
  border: none;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  width: 250px;
}

input[type="text"] {
  flex: 1;
  padding: 20px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  font-size: 1.5rem;
}

input[type="text"]:focus {
  outline: none;
  border-color: #3581b8;
}

button[type="submit"] {
  padding: 20px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #3581b8;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #4ea8e0;
}

input[type="text"]::placeholder {
  color: #999999;
  font-style: italic;
}

@media (max-width: 768px) {
  .chat-box {
    height: 100vh;
    border-radius: 0;
  }

  .form-container {
    flex-direction: column;
    gap: 20px;
  }

  input[type="text"] {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
